@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

* {
	border: 0;
	margin: 0;
	padding: 0;
	outline: none;
	text-decoration: none;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

:root {
	--background-pattern1: #3E0995;
	--background-pattern2: #ffffff;
	--color-pattern1: #ffffff;
	--color-pattern2: #000000;
}

body::-webkit-scrollbar {
	background-color: white;
	width: 5px;
}

body::-webkit-scrollbar-thumb {
	background-color: black;
}

header {
	display: none;
	width: 100%;
	background-color: #000000a6;
	/* transition: all 5s; */
	position: fixed;
	z-index: 100;
}

nav {
	display: flex;
	justify-content: space-between;
}

nav ul {
	display: flex;
	text-align: center;
}

li {
	list-style: none;
}

nav li {
	padding: 20px;
}

nav a {
	color: white;
	font-weight: bold;
}

nav button {
	background-color: transparent; /* rgba(255, 255, 255, 0.452) */
	border-radius: 50%;
	cursor: pointer;
}

nav img {
	height: 20px;
	vertical-align: middle;
}

.test {
	position: fixed;
	right: 0;
	padding: 10px 20px 30px 20px; /* 20px 30px 40px 30px */
	margin: 20px 10px;
	z-index: 10;
}

.menu-opening {
	background-color: transparent;
	color: white;
	
	/* margin: 30px 30px 30px 20px; */

	/* fiz desse jeito para poder colocar o box-shadow */
	content: "";
	width: 30px;
	height: 3px;
	background-color: white;
	box-shadow: 1px 1px 3px black;
}

.menu-opening::before {
	display: block;
	content: "";
	width: 30px;
	height: 3px;
	margin-top: 10px;
	background-color: white;
	box-shadow: 1px 1px 3px black;
}

.menu-opening::after {
	display: block;
	content: "";
	width: 30px;
	height: 3px;
	margin-top: 8px;
	background-color: white;
	box-shadow: 1px 1px 3px black;
}

.menu-closed {
	background-color: transparent;
	color: white;
	position: fixed;
	right: -200px;
	padding: 15px;
	/* margin: 20px; */
	transition: right 1s;
	z-index: 1000;
}

.menu-closed::after {
	content: "\274c";
}

#first-section {
	height: 100vh;
	transition: background-color 1s;
	background-color: var(--background-pattern1);
	align-items: center;
}

#first-section p {
	font-weight: bold;
	color: var(--color-pattern1);
}

.container {
	display: flex;
	justify-content: center;
}

.contents {
	width: 1180px;
	margin: 0 20px;
}

.first-line {
	font-size: 25px;
	line-height: 100%;
	text-shadow: 0px 0px 1px black;
}

.second-line {
	display: flex;
}

.second-line p {
	font-size: 150px;
	/* color: white; */
	line-height: 100%;
	text-shadow: 0px 0px 1px black;
}

.second-line .icons {
	display: flex;
	align-items: center;
	margin-left: 20px;
}

.icons a {
	margin: 0 10px;
	transition: transform 1s;
}

.icons a:hover {
	transition: transform 1s;
	transform: translate(0px, -10px);
}

.icons img {
	transition: transform 1s;
	filter: drop-shadow(0px 0px 15px rgb(148, 148, 148));
	vertical-align: middle;
}

.icons img:hover {
	transition: transform 1s;
	transform: translate(0px, -10px);
}

.third-line {
	font-size: 210px;
	line-height: 100%;
	text-shadow: 0px 0px 1px black;
}

#skills {
	height: 100%;
	color: var(--color-pattern);
	transition: background-color 1s;
	background-color: var(--background-pattern1);
}

/* #skills .contents {
	overflow: hidden;
}
 */
/* #skills .contents::-webkit-scrollbar {
	height: 0;
} */

#skills h1 {
	color: var(--color-pattern1);
}

#skills .menu-buttons button {
	width: 170px;
	font-size: 24px;
	font-weight: bold;
	margin: 10px 10px 10px 0;
	padding: 10px;
	background-color: transparent;
	border: 1px solid gray;
	color: var(--color-pattern1);
	cursor: pointer;
}

/* #skills .menu-buttons button:last-child {
	margin-right: 0;
} */

#skills .menu-buttons button:hover {
	opacity: 70%;
}

#skills .slider {
	width: 100%;
	overflow: hidden;
}

#skills .slider::-webkit-scrollbar {
	height: 0;
}

#skills .slider2 {
	display: flex;
	width: 300%;
	transform: translate3d(0px, 0px, 0px);
	transition: transform 1s;
}

#skills .slide1, #skills .slide2, #skills .slide3 {
	width: 100%;
}

.technologies {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}

.technologies .desc {
	width: 100%;
	max-height: 350px;
	overflow-y: auto;
	color: var(--color-pattern1);
	text-align: justify;
}

.technologies .languages {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	/* width: 420px; */
	transition: all 1s;
}

.image-background {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	width: 100px;
	padding: 10px;
	background-color: var(--color-pattern1);
	border-radius: 10px;
	margin: 20px 10px;
	margin-top: 0;
	text-align: center;
}

.image-background img {
	height: 100%;
}

h1 {
	font-size: 32px;
	text-align: center;
	padding: 30px 0 50px 0;
	color: var(--color-pattern2);
}

#main {
	align-items: unset;
	transition: background-color 1s;
	background-color: var(--background-pattern2);
}

.flex-projects {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.project {
	width: 450px;
	text-align: center;
	margin: 0 20px 120px 20px;
}

.project a {
	color: var(--color-pattern2);
	font-weight: bold;
	text-decoration: underline;
	font-size: 24px;
}

.project a:first-child {
	display: block;
}

.project a:hover {
	color: purple;
}

.project p {
	height: 125px;
	overflow-y: auto;
	text-align: justify;
	color: var(--color-pattern2);
	margin-top: 10px;
}

.project-image {
	height: 450px;
}

@media(max-width: 1250px), (max-height: 400px) {
	.first-line {
		font-size: 2vw;
	}

	.second-line p {
		font-size: 11.7vw;
	}

	.icons img {
		height: 4vw;
	}

	.third-line {
		font-size: 16.4vw;
	}

	.project {
		flex-direction: column;
		align-items: center;
	}

	.project-desc {
		margin-top: 30px;
	}
}

@media (max-width: 980px) {
	.flex-projects {
		justify-content: center;
	}
	
	.technologies {
		flex-wrap: wrap;
		justify-content: center;
	}

	.technologies .languages {
		margin-top: 40px;
	}
}

@media (max-width: 600px) {
	header {
		display: block;
		height: 100vh;
		width: 200px;
		right: -200px;
		transition: right 1s;
	}

	nav {
		flex-direction: column;
		align-items: center;
	}

	nav ul.navegation {
		flex-direction: column;
		margin-top: 50px;
	}

	nav a {
		font-size: 20px;
	}

	.menu-opening {
		display: block;	
	}

	.first-line {
		font-size: 4vw;
  	}

  	.second-line .icons {
		display: none;
	}

	#skills .menu-buttons {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	/* #skills .menu-buttons button { 
		font-size: 4.13vw;
	} */

	.image-background {
		height: 17.3vw;
		width: 17.3vw;
	}

	.project {
		width: 100%;
		margin: 0 20px 80px 20px;
	}

	.project-image {
		height: 75vw;
	}

	.project a {
		font-size: 5vw;
	}
}

@media(max-width: 400px) {
	/* .image-background {
		height: 25vw;
		width: 25vw;
	} */
}